build/
classes/
out/
out-test/
.gradle/
.idea/
/artifact/
.DS_Store
web_services/src/main/resources/static
node_modules
.log
.gradle
*.
*.iml
.DS_store
*.log
*.orig
src/main/resources/environment.properties
*.secret.yaml
*.secret.plain.yml
